.container {
    width: 1024 px;
    height: 78 px;
    position: relative;
    top: 60px;

    .Name {
        position: absolute;
        height: 38px;
     
        top: calc(50% - 38px/2);
        color: #001A34;
        font-size: 25px;
        font-weight: 800;
        line-height: 38px;
    }

    .amount {
        position: relative;
        height: 20px;
        left: 13.75%;
        top: calc(50% - 20px/2 + 5px);
        font-size: 16pt;
        line-height: 20px;
        color: #808D9A;
    }
}